
@use './assets/styles/navigation';
@use './assets/styles/index';
@use './assets/styles/footer';
@import './assets/styles/component';
@import './assets/styles/mixin';

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@600&family=Raleway:wght@300;400;600;700;800&display=swap');


body, html {
  font-family: 'Raleway', sans-serif;
}


