
@import './mixin';

.ellipse2, .ellipse1, .heroBG {
    position: absolute;
    z-index: 0;
    opacity: 0.8;
    img {
        width: 70%;
    }
}

.heroBG {
    height: 100%;
    width: 100%;
    opacity: 0.4;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.title {
    font-size: 3rem;
    margin-bottom: 2rem;
    position: relative;

}


.hero {
    background: #08060B;
    position: relative;
    color: white;
    
    .ellipse1 {
        img {
            width: 40%;
        }
    }
    .ellipse2 {
        bottom: 0;
    }
    .container {
        padding-top: 5rem;
        padding-bottom: 2rem;
        position: relative;

        .heroContent{
            width: 42%;

            h1 {
                font-size: 85px;
                font-weight: 800;
                margin-bottom: 1.5rem;
            }

            h4 {
                font-weight: 300;
                font-size: 18px;
                line-height: 24px;
                margin-bottom: 3rem;
            }

            .comingSoon {
                font-weight: 600;
                font-size: 28px;
                text-align: center;
                margin-bottom: 2rem;
                color: #F2F2F2CC;
            }

            .btn {
                padding: .75rem 4rem;
                font-weight: 700;
                color: white;
                font-size: 18px;
            }

            .heroLogo {
                img {
                    max-height: 40px;
                    margin: 1rem;
                    margin-top: 2rem;
                }
            }
        }
    
        .heroImage {
            width: 58%;
            position: relative;
            img {
                width: 109%;
            }
        }

        @include breakpoint(mobileonly) {
            padding-top: 2rem;

            .heroContent {
                order: 2;
                width: 100%;

                h1 {
                    font-size: 56px;
                }
            }

            .heroImage {
                order: 1;
                width: 100%;
                margin-bottom: 1rem;

                img {
                    width: 100%;
                }
            }
        }

        @include breakpoint(untilTablet) {
            .heroContent {
                h1 {
                    font-size: 60px;
                }
            }

            .heroImage {
                img {
                    width: 100%;
                }
            }
        }
    }
}

.roadmap {
    background: #08060B;
    color: white;
    position: relative;
    margin-top: -30px;

    .title {
        
        @include breakpoint(untilTablet) {
            padding-left: 1rem;
        }
    }

    .ellipse1 {
        bottom: 0;
        right: 0;
        text-align: right;
    }

    .ellipse2 {
        top: -2px;
    }

    .container {
        padding: 5rem 0;
        display: block;
        z-index: 2;
        ul {
            font-family: 'Assistant', sans-serif;
        }

        .dFlex {
            padding: 1rem 0;
        }

        .q1 {
            width: 33%;
            position: relative;
            padding-top: 14rem;
            h4 {
                font-size: 2rem;
                padding-left: 10%;
            }
            &::before{
                content: '';
                width: 25%;
                position: absolute;
                top: 18rem;
                left: -5%;
                border-bottom: dashed 1px #FF4581;
            }

            &:after {
                content: '';
                width: 80%;
                position: absolute;
                top: 18rem;
                left: 20%;
                border-bottom: 3px solid grey;
            }

            ul {
                padding: 6rem 2rem 3rem;
                margin-top: 2rem;
                margin-left: 20%;
                border-left: 1px solid #FF4581;
                position: relative;

                &::before{
                    content: '';
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: #FF4581;
                    position: absolute;
                    top: -8px;
                    left: -5px;
                    z-index: 2;
                }

                &::after{
                    content: '';
                    width: 14px;
                    height: 14px;
                    border-radius: 50%;
                    border: 1px solid #FF4581;
                    position: absolute;
                    top: -12px;
                    left: -9px;
                    z-index: 2;
                    box-shadow: 0 0 12px #FF4581;
                }

                li {
                    margin-bottom: 1rem;
                }
            }
        }

        .q2 {
            width: 25%;
            position: relative;
            margin-left: -2px;
            h4 {
                font-size: 2rem;
                margin-left: -10%;
            }

            &:after {
                content: '';
                width: 100%;
                position: absolute;
                top: 18rem;
                border-bottom: 3px solid grey;
            }

            ul {
                padding: 2.5rem 2rem 1.75rem;
                margin-top: 2rem;
                border-left: 1px solid #FF4581;
                position: relative;

                @include breakpoint(untilTablet) {
                    padding: 2.15rem 2rem;
                }

                &::before{
                    content: '';
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: #FF4581;
                    position: absolute;
                    bottom: -8px;
                    left: -5px;
                    z-index: 2;
                }

                &::after{
                    content: '';
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    position: absolute;
                    background-color: rgba($color: #FF4581, $alpha: 0.4);
                    bottom: -12px;
                    left: -9px;
                    z-index: 2;
                }

                li {
                    margin-bottom: 1rem;
                }
            }
        }

        .q3 {
            width: 41%;
            position: relative;
            padding-top: 18rem;
            margin-left: -2px;
            h4 {
                font-size: 2rem;
                padding-left: 10%;
            }

            &:after {
                content: '';
                width: 100%;
                position: absolute;
                top: 18rem;
                left: 0;
                border-bottom: 3px solid grey;
            }

            ul {
                padding: 2rem 2rem 3rem;
                margin-top: 6px;
                margin-left: 20%;
                border-left: 1px solid #FF4581;
                position: relative;

                &::before{
                    content: '';
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: #FF4581;
                    position: absolute;
                    top: -8px;
                    left: -5px;
                    z-index: 2;
                }

                &::after{
                    content: '';
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    background-color: rgba($color: #FF4581, $alpha: 0.4);
                    position: absolute;
                    top: -12px;
                    left: -9px;
                    z-index: 2;
                }

                li {
                    margin-bottom: 1rem;
                }
            }
        }
        .mobileSwipe {
            display: none;
        }

        @include breakpoint(untilTablet) {
            .dFlex {
                overflow-x: auto;
                white-space: nowrap;
            }

            .q3:after {
                width: 130%;
            }

            .mobileSwipe {
                display: flex;
                padding: 1rem;
                font-weight: 700;
                align-items: center;
                font-size: 20px;

                img {
                    width: 20px;
                    filter: invert(1);
                    margin-left: .5rem;
                    margin-top: 7px;
                }
            }

        }

        @include breakpoint (mobileonly) {
            
            .q1 {
                width: 80%;
            }

            .q2 {
                width: 40%;
            }

            .q3:after {
                width: 240%;
            }
        }

    }

    
}


.collections {
    background: #08060B;
    color: white;
    position: relative;
    margin-top: -5px;

    .ellipse1 {
        top: 0;
        right: 0;
        text-align: right;

        img {
            width: 68%;
        }
    }

    .ellipse2 {
        bottom: 0;
        left: 0;
    }

    .container {
        padding-top: 5rem;
        padding-bottom: 5rem;
        display: block;

        .subtitle {
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 2.5rem;
            width: 80%;
        }
    }

    .imageCollections {
        z-index: 2;
        position: relative;
        display: flex !important;
        flex-direction: row !important;
        width: 100%;
        overflow-x: hidden!important;
        padding-bottom: 5rem;

        @keyframes scroll {
            0% {
              transform: translateX(0);
            }
            100% {
              transform: translateX(-50%);
            }
        }

        .running {
            flex: 0 0 auto;
            min-width: 100%;
            z-index: 1;
            display: flex;
            flex-direction: row;
            align-items: center;
            animation-name: scroll;
            animation-duration: 40s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;

            .item {
                margin: 0 .5rem;
            }
        }
    }

    @include breakpoint(mobileonly) {
        .container {
            padding: 2rem 1rem;

            .subtitle {
                font-size: 1.25rem;
                line-height: 1.75rem;
            }
        }

        .imageCollections {
            .item {
                img {
                    width: 240px;
                    height: 240px;
                    object-fit: cover;
                }
            }
        }
    }
}

.merch {
    color: white;
    background: #08060B;
    margin-top: -5px;
    position: relative;
    .ellipse1 {
        bottom: 0;
        right: 0;
        text-align: right;
    }

    .ellipse2 {
        top: -2px;
    }

    .container {
        padding-bottom: 9rem;
        justify-content: space-between;

        &.titleContainer {
            padding-top: 9rem;
            padding-bottom: 6rem;
        }

        .merchItem {
            width: 45%;
            margin: 0 1rem;

            img {
                width: 100%;
                max-height: 330px;
                object-fit: contain;
            }
        }

        @include breakpoint(mobileonly) {
            padding-bottom: 4rem;

            &.titleContainer {
                padding-top: 4rem;
                padding-bottom: 2rem;
            }

            .merchItem {
                width: 100%;
                margin-bottom: 2rem;
            }
        }
    }
}

.team {
    color: white;
    background: #08060B;
    margin-top: -5px;
    position: relative;

    .ellipse1 {
        top: 0;
        right: 0;
        text-align: right;
        
        img {
            width: 68%;
        }
    }

    .ellipse2 {
        bottom: 0;
        left: 0;
    }
    .container {
        padding-bottom: 9rem;

        &.titleContainer {
            padding-top: 4rem;
            padding-bottom: 3rem;
        }

        .teamItem {
            width: 20%;
            padding-right: 5rem;
            text-align: center;

            .teamText {
                margin-top: .5rem;
                font-size: 18px;
                font-weight: 300;
                &.name {
                    margin-top: 1rem;
                }
            }

            img {
                width: 100%;
                max-height: 220px;
                object-fit: contain;
            }
        }

        @include breakpoint(mobileonly) {
            padding-bottom: 4rem;

            &.titleContainer {
                padding-top: 4rem;
                padding-bottom: 2rem;
            }

            .teamItem {
                width: 100%;
                margin-bottom: 2rem;
                padding-right: 0;

                img {
                    max-height: none;
                }
            }
        }
    }

    .community {
        background-color: #C1BE90;
        color: black;
        z-index: 2;
        position: relative;

        .container {
            padding-bottom: 2rem;
            padding-top: 2rem;
        }

        .communityText {
            width: 55%;
            .title {
                font-size: 64px;
                margin-bottom: 1rem;
                font-weight: 800;
            }

            .subtitle {
                font-size: 24px;
                margin-bottom: 1rem;
                padding-right: 2rem;
            }

            .btn {
                background-color: #241F1F;
                color: white;
                border-radius: 40px;
                font-size: 22px;
                font-weight: 700;
                padding: .75rem 1.5rem;
                transition: all .2s ease-in;

                &:hover, &:focus, &:active {
                    transition: all .2s ease-in;
                    background-color: #141212;
                }
            }
        }

        .communityImage {
            width: 45%;

            img {
                width: 100%;
            }
        }

        @include breakpoint(mobileonly) {
            .container {
                padding: 2rem 1rem 0;
            }
            .communityText {
                width: 100%;
                margin-bottom: 3rem;

                .title {
                    font-size: 50px;
                }
            }

            .communityImage {
                width: 100%;
            }
        }
    }
}