@import './mixin';

.navbar {
    background-color: black;
    position: sticky; 
    top: 0;
    z-index: 5;

    .container {
        justify-content: space-between;
        align-items: center;
        padding: .5rem 1rem;

        .navigation {
            color: white;

            > ul {
                display: flex;
                list-style: none;
                align-items: center;

                a {
                    color: white;
                    text-decoration: none;
                }
                li {
                    margin: 0 1rem;
                    padding: .5rem 0;
                    vertical-align: middle;
                }

                .btn {
                    padding: 4px 1rem;
                    min-height: 0;
                }
            }

            .socialMediaLink {
                position: relative;
                cursor: pointer;

                .dropdown {
                    position: absolute;
                    display: none;
                    background-color: white;
                    color: black;
                    top: 35px;
                    left: 10px;

                    ul {
                        list-style: none;
                        padding: 0;

                        li {
                            margin-bottom: 1rem;
                            color: black;
                            padding: 1rem;
                            margin: 0;
                            width: 120px;
                            
                            &:hover {
                                background-color: rgb(211, 211, 211);
                            }
                        }
                    }
                }

                &:hover {
                    background-color: lighten(#000, 0.1);
                
                    .dropdown {
                        display: block;
                    }
                }
            }

            @include breakpoint(mobileonly) {
                display: none;
            }
        }

        .hamburger{
            display: none;

            img {
                filter: invert(1);
                max-height: 35px;
            }

            @include breakpoint(mobileonly) {
                display: block;
                cursor: pointer;
            }
        }

    }
}


.navigation-mobile {
    transform: translateX(100%);
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    z-index: 999;
    padding: 2rem;
    height: 100%;
    background-color: white;
    transition: all .2s ease-in;
    padding: 4rem 1rem;

    .close {
        text-align: right;
        padding: 1rem;

        img {
            cursor: pointer;
        }
    }

    ul {
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 2rem 1rem;

        a {
            color: black;
            text-decoration: none;
        }

        li {
            margin-bottom: 1.5rem;
            text-align: right;
            font-weight: 700;
            font-size: 20px;
        }

        .socialMediaDropdown {
            cursor: pointer;
            margin-bottom: 1.5rem;
            > li {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin-bottom: 0;
                padding-bottom: .5rem;
            }

            img {
                width: 14px;
                margin-left: .5rem;
            }

            .dropdown {
                height: 0;
                visibility: hidden;
                transition: all .2s;
                opacity: 0;
                
                ul {
                    padding: 0;

                    li {
                        padding: 1rem;
                        padding-bottom: .5rem;
                        margin-bottom: 0;
                    }
                }
            }

            &.open {
                img {
                    transform: rotate(180deg);
                }
                .dropdown {
                    height: 200px;
                    visibility: visible;
                    transition: all .2s ease-in;
                    opacity: 1;
                }
            }
        }
    }

    .btnWrapper {
        display: flex;
        justify-content: flex-end;
        
        .btn {
            color: white
        }
    }

    &.open {
        transform: translateX(0);
        transition: all .2s ease-in;
    }
}