.navbar {
    background-color: black;

    .container {
        justify-content: space-between;
        align-items: center;
        padding: .25em 0;

        .navigation {
            color: white;

            ul {
                display: flex;
                list-style: none;
                align-items: center;
                li {
                    margin: 0 1rem;
                }

                .btn {
                    padding: 4px 1rem;
                }
            }

            @media screen and (max-width: 37.5em) {
                display: none;
            }
        }
    }
}